<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    </head>
    <body>
        <div class="ui inverted menu">
            <div class="ui container">
                <div class="header item"><i class="movie icon"></i>TVFind</div>
                <a href="/" class="red item active">Home</a>
                <a href="/about" class="green item active">About</a>
            </div>
        </div> 

            </div>
        </div> 

