<% include partials/header.ejs %>

<div class="ui main text container">
<div class="ui ordered steps">
  <div class="completed step">
    <div class="content">
      <div class="title">Search</div>
      <div class="description">Search TV Series</div>
    </div>
  </div>
  <div class="active step">
    <div class="content">
      <div class="title">Select</div>
      <div class="description">Select TV Series</div>
    </div>
  </div>
  <div class="disabled step">
    <div class="content">
      <div class="title">Write</div>
      <div class="description">Download Torrent</div>
    </div>
  </div>
</div>
    <div class="ui huge header">Select the Series</div>
    <div class="ui top  attached segment">
        <div class="ui divided items">
            <% for(var i=0;i<data["Search"].length;++i){ %>
            <% var item=data.Search[i]; %>
            <% var imdb=item.imdbID %>
            <% imdb=imdb.replace("tt","");%>
                <div class="item">
                    <div class="image">
                        <img src="<%= item["Poster"]%>">
                    </div>
                    <div class="content">
                         <a class="header" href="#"><%=item.Title%></a>
                         <div class="meta">
                             <span><%= item.Year %></span>
                         </div>
                         <div class="extra">
                             <a class="ui floated basic violet button" href="/imdb/<%=imdb%>/1">Select</a>
                                 <i class="right chevron icon"></i>
                             </a>
                         </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>




